/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.img-home img {
  height: 200px;
  width: 200px;
  margin: 20px 0;
}

.content h4{
  padding-top: 50px;
}

.hidden {
  opacity: 1;
}

.home-content {
  padding: 90px 0;
}
