<div class="footer">
  <div class="container text-center">
    <div class="row">
      <h4>Join Us On</h4>
    </div>
    <div class="row">
      <ul class="list-unstyled list-inline">
        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></li></a>
        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
        <li><a href=""><i class="fa fa-flickr" aria-hidden="true"></i></li></a>
      </ul>
    </div>
  </div>
</div>
