<div class="container">
  <h1>Pages#home</h1>

  <!-- Beginning of filter bar -->
    <br>
    <%= form_tag cameras_path, :method => :get do %>
      <%= text_field_tag :query_one %>
      <%= submit_tag 'Search for it!', class: "btn btn-danger" %>
    <% end %>
  <!-- End of filter bar -->
</div>


