/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 30px ;
  padding-bottom: 30px;
}

.padded-top {
  padding-top: 30px ;
}

.form-padded {
  padding-right: 25px;
  padding-left: 25px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.flashes-home {
  top: 70px;
  position: absolute;
  left: 0px;
  right: 0px;
}

.alert {
  border: 0px solid transparent;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

//Wrapper
.wrapper {
  background: #ecf0f1;
}
.wrapper-blue {
  background: linear-gradient(-225deg, rgba(209,145,60,0.6) 0%, rgba(255,209,148,0.6) 50%);
}

.wrapper-grey {
  background: #E6E6E6;
}

.wrapper-light-grey {
  background: #EBEDED;
}


.login-padded {
  padding-left: 150px;
  padding-right: 150px;
}

.brand-category {
  color: grey;
}

// fa
.fa {
  color: #361712;
}
.accept-button {
  color: white;
  text-decoration: none;
}

