
//card index
.card {
  height: 190px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  padding-bottom: 10px;
  border-radius: 3px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-price {
  position: absolute;
  right: -10px;
  bottom: 10px;
  background: #DE2E32;
  padding: 4px 10px 0 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(10,10,10,0.2);
}
.card-category {
  color: #DE2E32;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-brand {
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-brand h2 {
  font-size: 24px;
}
.card-brand p {
  font-size: 22px;
  }
.card-link {
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

//card show

.card-white {
  width: 700px;
  background-size: cover !important;
  color: black;
  background: white;
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}


.card-photo {
  height: 400px;
  width: 700px;
  background-size: cover !important;
  color: black;
  background: white;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);

}

.card-form {
  height: 400px;
  width: 300px;
  color: black;
  background: white;
  margin-left: 30px;
  padding: 20px 0;
  border-radius: 2px;
  position: fixed;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.card-stats {
  width: 700px;
  background-size: cover !important;
  color: black;
  background: white;
  position: relative;
  padding-bottom: 0px;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  display: inline-block;
}

//card signup/login

.card-signup {
  color: black;
  width: 700px;
  background-size: cover !important;
  background: white;
  position: relative;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  border-radius: 5px;
  top: 140px;
  bottom: -140px;
}

.signup-height {
  min-height: 910px;
}

.padding-ten {
  padding: 15px;
}

.panel {
  border:  transparent;
}


//card dashboard profile
.card-first-name{
  position: absolute;
  left: 10px;
  top: 10px;
}
.card-last-name{
  position: absolute;
  left: 10px;
  top: 30px;
}
.card-address{
  position: absolute;
  left: 10px;
  bottom: 20px;
}
.card-number{
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.card-email{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
